<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Base module service -->
	<bean id="UserAndRoleService" class="com.ontimize.jee.common.hessian.OntimizeHessianProxyFactoryBean" lazy-init="true">
		<property name="proxyFactory" ref="hessianProxyFactory" />
		<property name="serviceRelativeUrl" value="/${server-context}/services/hessian/userAndRoleService" />
		<property name="serviceInterface" value="com.imatia.jee.bankmanager.common.base.services.IUserAndRoleService" />
	</bean>
</beans>
